/* Style here */
body {
	font-family: sans-serif;
}

h1, h2, h3 {
	position: relative;
	font-weight: 300;
}

h1:before {
  color: lightblue;
	content: "# ";
  position: absolute;
  left: -0.9em;
}

h2:before {
  color: lightblue;
	content: "## ";
	position: absolute;
	left: -1.5em;
}
/* Note: rem doesn't change with font size but em does.
   rem is based on body font size
   em is based on parent font size */
blockquote {
  padding: 1rem;
margin-left: -1rem;
margin-right: -1rem;
border-left: 8px solid steelblue;
background-color: lightblue;
}

.content {
	max-width: 50em;
	margin: auto;
}


pre {
	color: black;
	background-color: white;
border-left: 8px solid #10100e;
}

path {
  pointer-events: all;
  fill: none;
  stroke: #666;
  stroke-opacity: 0.2;
}


/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  background: #272822; color: #ddd;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #f92672;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #a6e22e;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}